$primary-color: #7700FF;
$secondary-color: #c28cff;

.about {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
    padding-top: 1%;
    //background-color: $secondary-color;

    &-card {
        padding: 0 1% 1% 1%;
        margin: 1%;
        box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.15);
        width: 40%;
        border-radius: 10px;

        h1 {
            color: $primary-color;
        }

        p {
            margin: 0;
            padding: 0;
            padding-bottom: 1%;
        }

        label {
            text-align: end;
        }

        &-date {
            width: 100%;
            text-align: end;
        }

        &-title {
            color: $primary-color;
        }
    }
}