<div class="about">
    <div class="about-card">
        <div class="about-card-profile">
            <h1>Profile</h1>
            <p>Designing and maintaining front end for web and mobile applications</p>
            <p>Designing responsive websites and mobile applications</p>
            <p>Software development</p>
            <p>Communication with the customers</p>
            <p>Producing technical documentation</p>
            <p>Working to create functional requirements</p>
            <p>Working in a team</p>
        </div>
    </div>
    <div class="about-card">
        <h1>Technical skills</h1>
        <div class="about-card-skill">
            <p>HTML & CSS</p><img class="about-card-skill-image" src="assets/rater-5.png">
        </div>
        <div class="about-card-skill">
            <p>JavaScript (React, React Native & Angular)</p><img class="about-card-skill-image" src="assets/rater-4.png">
        </div>
        <div class="about-card-skill">
            <p>Java</p><img class="about-card-skill-image" src="assets/rater-4.png">
        </div>
        <div class="about-card-skill">
            <p>Python</p><img class="about-card-skill-image" src="assets/rater-4.png">
        </div>
        <div class="about-card-skill">
            <p>PHP</p><img class="about-card-skill-image" src="assets/rater-3.png">
        </div>
        <div class="about-card-skill">
            <p>MySQL</p><img class="about-card-skill-image" src="assets/rater-5.png">
        </div>
        <div class="about-card-skill">
            <p>Windows, Linux & MacOS</p><img class="about-card-skill-image" src="assets/rater-4.png">
        </div>
        <div class="about-card-skill">
            <p>Photo/Video editing</p><p>Adobe Photoshop/Lightroom/Premiere</p>
        </div>
    </div>
    <div class="about-card">
        <h1>Education</h1>
        <p class="about-card-date">09/2014 - 06/2018</p>
        <p class="about-card-title">School of Electrical and Computer Engineering<br>Velenje, Slovenia</p>
        <p class="about-card-date">10/2018 - present</p>
        <p class="about-card-title">Faculty of Computer and Information Science<br>Ljubljana, Slovenia</p>
        <p style="padding-top: 2%;"><b>Relevant Coursework:</b></p>
        <ul style="margin-top: 0;">
            <li>Operating Systems</li>
            <li>Databases</li>
            <li>Computer Architecture</li>
            <li>Artificial Intelligence</li>
            <li>Data mining</li>
            <li>Computer Communications</li>
            <li>Web technologies</li>
            <li>User interfaces</li>
            <li>Basics of Containers, Docker & Kubernetes</li>
        </ul>
    </div>
    <div class="about-card">
        <h1>Work experience</h1>
        <p class="about-card-date">03/2016</p>
        <p>Software Engineering Intern</p>
        <p class="about-card-title">Zavarovalnica Triglav d.d., Ljubljana, Slovenia</p>
        <ul style="padding-top: 0; margin-top: 0">
            <li>Design of a webpage for client in Joomla</li>
        </ul>
        <p class="about-card-date">04/2017</p>
        <p>Software Engineering Intern</p>
        <p class="about-card-title">Just Some Coding Ltd, Sliema, Malta</p>
        <ul style="padding-top: 0; margin-top: 0">
            <li>Testing of advanced web application</li>
            <li>Basic coding in Angular</li>
        </ul>
        <p class="about-card-date">07/2019 - 09/2019</p>
        <p>Web Developer</p>
        <p class="about-card-title">Adacta d.o.o., Ljubljana, Slovenia</p>
        <ul style="padding-top: 0; margin-top: 0">
            <li>Generation of PDF documentation with LaTeX</li>
            <li>PowerShell scripts for PDF generation</li>
            <lI>Web development with React and GraphQL (GatsbyJS framework)</lI>
        </ul>
    </div>
    <div></div>
</div>
