$primary-color: #7700FF;
$secondary-color: #c28cff;

.about {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
    padding-top: 1%;
    //background-color: $secondary-color;

    &-card {
        padding: 0 1% 1% 1%;
        margin: 1%;
        box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.15);
        width: 40%;
        border-radius: 10px;
        min-width: 300px;

        li {
            padding: 0.5%;
        }

        h1 {
            color: $primary-color;
        }

        p {
            margin: 0;
            padding: 0;
            padding-bottom: 1%;
        }

        label {
            text-align: end;
        }

        &-date {
            width: 100%;
            text-align: right;
        }

        &-title {
            color: $primary-color;
        }

        &-skill {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &-image {
                width: 40%;
                height: 8px;
            }
        }

        &-profile {
            p {
                margin: 0;
                padding: 0;
                padding-bottom: 1%;
            }
        }
    }
}