$primary-color: #7700FF;

.social-networks {
    background-color: $primary-color;
    text-align: center;
    color: white;
    padding: 3% 0 3% 0;

    &-image {
        width: 50px;
    }

    &-items {
        width: 30%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.contact-us {
    width: 40%;
    margin: auto; 
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.15);

    h1 {
        padding-left: 2%;
    }
}

.form {
    padding: 2%;
}

label {
    display: block;
    
    input, textarea {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}

.cta {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;
    padding: 0 2% 2% 2%;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}