<div class="home">
    <h1 class="home-title">Designer, Front-end and Mobile developer</h1>
    <p>I am a Computer Science student, enthusiastic and eager to learn new technologies.</p>
    <img class="home-image" src="assets/avatar.jpg">
    <div class="home-description">
        <h2>Hi, I'm Ožbej. Nice to meet you.</h2>
        <p class="desc-text">I started my Computer Science journey in 2014, when I enrolled in School of Electrical and Computer Engineering Velenje. I am currently studying Computer and Information science
            in Faculty of Computer and Information Science Ljubljana. In my free time I like to learn new relevant technologies, frameworks and programming languages.
            I am always ready to learn, confident, curious and working on improving my programming skills.
        </p>
    </div>
</div>